body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, orange, blue);
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 2px;
}

.ranks-heading {
  margin-top: 20px;
  font-size: 36px;
  letter-spacing: 1px;
}

#ranks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px; /* Adjust padding for smaller screens */
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px; /* Adjust margin for smaller screens */
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: orange;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 15px; /* Adjust padding for smaller screens */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.rank:hover {
  transform: translateY(-5px); /* Adjust translateY for smaller screens */
  background-color: blue;
  border-color: orange;
}

.rank img {
  width: 150px; /* Adjust width for smaller screens */
  height: 150px; /* Adjust height for smaller screens */
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.rank p {
  margin: 15px 0 0 0; /* Adjust margin for smaller screens */
  font-size: 18px; /* Adjust font size for smaller screens */
  text-align: center;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px; /* Adjust font size for smaller screens */
}

footer p {
  margin: 0;
}

/* Media Query for screens with a maximum width of 600px (adjust as needed) */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 36px;
  }

  .ranks-heading {
    font-size: 24px;
  }

  #ranks {
    padding: 10px;
  }

  .rank {
    margin: 10px;
    padding: 10px;
  }

  .rank img {
    width: 100px;
    height: 100px;
  }

  .rank p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  footer {
    font-size: 16px;
  }
}